.container {
    position:relative;
}
.title {
    font-size: 40px;
}
.countdown {
    position: absolute;
    top:0;
    right:0
}
button .start-button {
    margin-left: 20px;
    margin-bottom: 100px;
}
.spacer {
    margin-top: 50px;
}
.with-margin {
    margin-bottom: 20px;
  }